---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
<style>

img {
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container div {
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 18px;
  text-transform: uppercase;
}
</style>
</head>
<body>
<Header  />

<main>

	<p align="center">
		<img src="/bio.png" alt="ME!">
	</p>
	<p>
		Cindy is a freelance Concept Artist, Illustrator, and Skull Enthusiast! Currently working out of Los Angeles, CA. She studied traditionally at the Academy of Art University of San Francisco.
	</p>

	<p>
	<div class="container">
  <div><a href="mailto:cindyliuconcepts@gmail.com">email</a></div>
  <div>resume</div>
</div></p>

	<p>
		<h2>
		Published works:
		</h2>
	</p>
<p>
  <div class="container">
  <div><img src="/thepathless_keyart_800x800.png" width="200px" height="auto"></div>
  <div><img src="/sword-of-the-sea-79jwp.jpg" width="200px" height="auto"></div>
</div>
</p>

</main>
<Footer />
	</body>
</html>
