---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
<style>

.container {
  display: flex;
  justify-content: space-evenly;
}

.container div {
  width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 18px;
  text-transform: uppercase;
}
</style>
</head>
<body>
<Header  />

<main>

	<p align="center">
		<img src="/bio.png" alt="ME!" style="border-radius: 50%;">
	</p>
	<p>
		Cindy is a freelance Concept Artist, Illustrator, and Skull Enthusiast! Currently working out of Los Angeles, CA. She studied traditionally at the Academy of Art University of San Francisco and have worked in gamedev since 2012. She has worked with teams of various sizes and scopes in projects. 
	</p>

	<p>
	<div class="container">
  <div style="background-color: black; font-color: #ffffff;"><a href="mailto:cindyliuconcepts@gmail.com">email</a></div>
  <div style="background-color: black; font-color: #ffffff;"><a href="/CindyLiu_resume_2024.pdf">resume</a></div>
</div>
</p>

	<p align="center">
		- Published works -
	</p>

<p align="center">
  <div class="container">
  <div><img src="/thepathless_keyart_800x800.png" width="300px" height="auto"></div>
  <div><img src="/sword-of-the-sea-79jwp.jpg" width="300px" height="auto"></div>
</div>
</p>

</main>
<Footer />
	</body>
</html>
