---
import Layout from '../layouts/BlogPost.astro';
---
<style>
.container {
  display: flex;
  justify-content: space-evenly;
  background-color: DodgerBlue;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
</style>
<Layout
	title="About Me"
	description="Bio"
	pubDate={new Date('June 2026')}
	heroImage="/bio.png"
>
	<p>
		Cindy is a freelance Concept Artist, Illustrator, and Skull Enthusiast! Currently working out of Los Angeles, CA. I studied traditionally at the Academy of Art University of San Francisco.
	</p>

	<p>
	<div class="container">
  <div>email</div>
  <div>resume</div>
</div>

	<p>
		Published works:
	</p>
<p>
  <div class="container">
  <div>The Pathless</div>
  <div>Sword and the Sea</div>
</div>
<.p>

</Layout>
