---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
<style>

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
  margin: 10px;
  padding: 10px;
  text-align: center;  
  
}

a.bt:link, a.bt:visited {
  background-color: #ffffff;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  display: inline-block;
  border: 2px solid black;
  font-size: 11px;
}

a.bt:hover, a.bt:active {
  background-color: black;
  color: white;
}

.avatar {
	justify-items: right;
}

@media (max-width: 720px) {
		.avatar {
			justify-content: center;
  			align-items: center;
		}
	}

</style>
</head>
<body>
<Header  />

<main>

<h3><p align="center">about me</p></h3>

<div class="container" style="align-items: center;" width="80%">
		<div class="avatar" style="width: auto; flex-grow: 1;"><img src="/bio.png" alt="ME!" style="border-radius: 50%;">
		</div>
		<div style="width: 60%; flex-grow: 2; text-align: left;">Cindy is a freelance Concept Artist, Illustrator, and Skull Enthusiast! Currently working out of Los Angeles, CA. She studied traditionally at the Academy of Art University of San Francisco and have worked in gamedev since 2012. She has worked with teams of various sizes and scopes in projects. 
		</div>
</div>

			<div class="container">
 				<div><a class="bt" href="mailto:cindyliuconcepts@gmail.com">email</a></div>
  				<div><a class="bt" href="/CindyLiu_resume_2024.pdf">resume</a></div>
			</div>
<br>
<p></p>
<br>

<h3><p align="center">published works</p></h3>

<p align="center">
  <div class="container">
  <div><a href="https://thepathless.com/"><img src="/thepathless_keyart_800x800.png" width="300px" height="auto"></a></div>
  <div><a href="https://swordoftheseagame.com/"><img src="/sword-of-the-sea-79jwp.jpg" width="300px" height="auto"></a></div>
</div>
</p>

</main>
<Footer />
	</body>
</html>
