<!doctype html>
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
<style>
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0px;
}

.gallery-item {
  border: 0px ;
  overflow: hidden;
}

.gallery-item:hover {
  border: 0px ;
  opacity: 0.7;
}

.gallery-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}


@media only screen and (max-width: 900px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
}
</style>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</head>
<body>
<Header />
<main>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('cars')"> Cars</button>
  <button class="btn" onclick="filterSelection('animals')"> Animals</button>
  <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
  <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>
<div class="gallery-container container">
  <div class="gallery-item filterDiv cars">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Cinque Terre">
    </a>
  </div>

  <div class="gallery-item filterDiv cars">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Forest">
    </a>
  </div>

  <div class="gallery-item filterDiv cars colors">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Northern Lights">
    </a>
  </div>

  <div class="gallery-item filterDiv fruits">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Mountains">
    </a>
  </div>

  <div class="gallery-item filterDiv animals cars">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Cinque Terre">
    </a>
  </div>

  <div class="gallery-item filterDiv cars fruits">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Forest">
    </a>
  </div>

  <div class="gallery-item filterDiv colors">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Northern Lights">
    </a>
  </div>

  <div class="gallery-item filterDiv fruits">
    <a target="_blank" href="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
      <img src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Mountains">
    </a>
  </div>
</div>

</main>
<Footer />
</body>
</html>
