---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>POOP</h1>
		
			<p>
<p><img src="https://pub-ec6a0b1c4543481398f8c2cda010fe7f.r2.dev/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
    <p><img src="public/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg">
<p>

				Welcome to WIP hell. 
			</p>
			<pTake a seat, its gonna take a while.</p>
		
			<p>
				Have fun! 
			</p>
		
		</main>
		<Footer />
	</body>
</html>
