---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>PORTFOLIO COMING SOON</h1>
		
			<p>
<p><img src="https://pub-ec6a0b1c4543481398f8c2cda010fe7f.r2.dev/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
<p>

				Welcome to WIP hell. 
			</p>
			<p>Take a seat, its gonna take a while.</p>
		
			<p>
				Have fun! 
			</p>

<ul class="grid-auto-md">
  <li><img class="cd-block cd-width-100%" src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
  <li><img class="cd-block cd-width-100%" src="img/auto-sized-grid-img-1.svg" alt="placeholder"></li>
</ul>




<button class="modal-img-btn mc4-radius-md mc4-overflow-hidden" aria-controls="modal-image-name" aria-label="Show larger image preview">
  <img class="mc4-block mc4-width-3xl" src="/F6bzKbhbQAApYIX-protected-intensity-LOW-V2.jpg" alt="Image description">

  <span class="modal-img-btn__icon-wrapper" aria-hidden="true">
    <svg class="mc4-icon mc4-icon--sm" viewBox="0 0 24 24">
      <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10">
        <path d="M1.373,13.183a2.064,2.064,0,0,1,0-2.366C2.946,8.59,6.819,4,12,4s9.054,4.59,10.627,6.817a2.064,2.064,0,0,1,0,2.366C21.054,15.41,17.181,20,12,20S2.946,15.41,1.373,13.183Z"></path>
        <circle cx="12" cy="12" r="4"></circle>
      </g>
    </svg>
  </span>
</button>

<div id="modal-image-name" class="modal modal--animate-scale mc4-bg-black mc4-bg-opacity-90% mc4-padding-md js-modal">
  <div class="modal__content mc4-width-100% mc4-height-100% mc4-flex mc4-flex-center mc4-pointer-events-none" role="alertdialog" aria-labelledby="" aria-describedby="">
    <img class="mc4-block mc4-radius-md mc4-shadow-md mc4-max-height-100% mc4-max-width-100%" src="../../assets/img/modal-window-img-1.jpg" alt="Image description">
  </div>

  <button class="modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
    <svg class="mc4-icon mc4-icon--sm" viewBox="0 0 24 24">
      <title>Close modal window</title>
      <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="3" x2="21" y2="21" />
        <line x1="21" y1="3" x2="3" y2="21" />
      </g>
    </svg>
  </button>
</div>

		</main>
		<Footer />
	</body>
</html>
