<!doctype html>
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	
<style>

</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Initial load - show all items
  filterSelection("all");
  
  function filterSelection(c) {
    var x = document.getElementsByClassName("gallery-item");
    if (c == "all") c = "";
    
    for (var i = 0; i < x.length; i++) {
      if (c == "" || x[i].className.indexOf(c) > -1) {
        x[i].classList.add("show");
      } else {
        x[i].classList.remove("show");
      }
    }
  }

  // Add click event listeners to buttons
  var btns = document.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      // Remove active class from all buttons
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].classList.remove("active");
      }
      // Add active class to clicked button
      this.classList.add("active");
      
      // Get filter value from onclick attribute
      var onclickAttr = this.getAttribute("onclick");
      var filterValue = onclickAttr.match(/'([^']*)'/)[1];
      filterSelection(filterValue);
    });
  }
});
</script>

</head>
<body>
<Header />
<main>

<div class="container">
	<div style="padding: 15px; width: 35%;"><a href="/whiskeyteeth" class="bt" style="margin-bottom: 1em;">whiskeyteeth</a>
		<p align="center">A collection of fanworks done under a psuedonym used over social media.</p>
	</div>
	<div style="padding: 15px; width: 35%;"><a href="/whiskeyteeth" class="bt" style="margin-bottom: 1em;">comics</a>
		<p align="center">Coming soon!</p>
	</div>
</div>

<div id="myBtnContainer" class="btnContainer container">
  <div><button class="btn active" onclick="filterSelection('all')">Show All</button></div>
  <div><button class="btn" onclick="filterSelection('sk')">Skulls</button></div>
  <div><button class="btn" onclick="filterSelection('stud')">Studies</button></div>
  <div><button class="btn" onclick="filterSelection('ill')">Illustrations</button></div>

</div>


<p>
<div class="gallery-container">
  <div class="gallery-item ill">
    <a target="_blank" href=https://www.cindyliuconcepts.com/pers/untitled_artwork-16-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/untitled_artwork-16-protected-intensity-LOW-V2.png" alt="Moon Priestess">
    </a>
  </div>

  <div class="gallery-item ill">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/image-asset-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/image-asset-protected-intensity-LOW-V2.png" alt="Midna Pin Up">
    </a>
  </div>

  <div class="gallery-item ill">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/21-10-21-00-23-53-373_deco-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/21-10-21-00-23-53-373_deco-protected-intensity-LOW-V2.png" alt="Fingers">
    </a>
  </div>

  <div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/DDm8u43UMAAvP7i-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/DDm8u43UMAAvP7i-protected-intensity-LOW-V2.png" alt="portrait study">
    </a>
  </div>

  <div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/cindy-liu-tumblr-n1n0phejge1tuubd4o1-540-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/cindy-liu-tumblr-n1n0phejge1tuubd4o1-540-protected-intensity-LOW-V2.png" alt="Lizard Study">
    </a>
  </div>

  <div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/EkpZzWxUYAYy1Jw-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/EkpZzWxUYAYy1Jw-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="maned hyena study">
    </a>
  </div>

  <div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/21-08-03-15-23-10-847_deco-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/21-08-03-15-23-10-847_deco-protected-intensity-LOW-V2.png" alt="andean condor study">
    </a>
  </div>

  <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/Skulloween_02goat-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/Skulloween_02goat-protected-intensity-LOW-V2.png" style="object-position: 85% 100%;" alt="goat skull study">
    </a>
  </div>

   <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/21-06-13-23-23-07-972-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/21-06-13-23-23-07-972-protected-intensity-LOW-V2.png" alt="cat skull study">
    </a>
  </div>

  <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/catskull-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/catskull-protected-intensity-LOW-V2.png" alt="lion skull study">
    </a>
  </div>

  <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/IMG_5302-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/IMG_5302-protected-intensity-LOW-V2.png" alt="CA sea lion skull study">
    </a>
   </div>

<div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/Arapaima-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/Arapaima-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="arapaima study">
    </a>
  </div>

  <div class="gallery-item stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/CindyLiu_w6_skink-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/CindyLiu_w6_skink-protected-intensity-LOW-V2.png" alt="skink study">
    </a>
  </div>

   <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/cindy-liu-mink-sk-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/cindy-liu-mink-sk-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="mink skull study">
    </a>
  </div>

  <div class="gallery-item sk stud">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/IMG_5312-protected-intensity-LOW-V2.pngg">
      <img src="https://www.cindyliuconcepts.com/pers/IMG_5312-protected-intensity-LOW-V2.png" alt="squall skull study">
    </a>
  </div>

  <div class="gallery-item sk ill">
    <a target="_blank" href="https://www.cindyliuconcepts.com/pers/vgskulls-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/pers/vgskulls-protected-intensity-LOW-V2.png" alt="popart iconic skulls">
    </a>
   </div>
</div>

</main>
<Footer />
</body>
</html>
