---
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cindyliuconcepts.com/_astro/_slug_.fEoeRqC0.css">
<style>
* {
  box-sizing: border-box; 
}
  
.p {
  white-space: pre-wrap;
}

a[name] {
	color: transparent;
    transform: translateY(-10cqi);
}

#top {
  text-decoration: none;
  padding-top: 0px;
  border-top: 2px solid #FED801;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: lowercase;
}

#top:hover {
  color: #1d1d1d;
  border-top: 2px solid #1d1d1d;
  background-color: #FED801;
}

#blink {
  background-color: #FED801;
  text-decoration: underline solid #FED801 30%;    
  font-size: 70%;
  font-weight: 350;
  font-variant: small-caps;
  text-transform: lowercase;
}

#blink:hover {
  color: #1d1d1d;
  background-color: #FED801;
}

#end {
	margin-bottom: 200px;
}

a {
  color: #FED801;
}

a:hover {
  color: #BB161F;
}



/* Header/logo Title */
.header {
  display: flex;
  flex-direction: column-reverse;
  color: #173936;
  background: #1E534F; 
  min-height: 15cqi;
  position: relative;
  border-bottom: 50px solid #1d1d1d;
}

.hero-header {
  display: flex;
  flex-direction: column-reverse;
  color: #FED801;
  background-image: linear-gradient(rgba(23, 57, 54, .9), rgba(23, 57, 54, .8), rgba(29, 29, 29, 1)), url("https://www.cindyliuconcepts.com/fan/mha/Fxa4jrSaIAAfxRB.jpg");
  height: 50cqi;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-x: 9%;
  background-position-y: 30%; 
  background-blend-mode: darken;
  position: relative;

}

/* Increase the font size of the heading */
.hero-header h1 {
  font-size: clamp(3rem, 12cqi, 22rem);
  color: #BB161F;
  font-weight: 900;
  letter-spacing: -0.4cqi;
  line-height: 65%;
  position: absolute;
  bottom:-5px;

}

.header h1 {
  font-size: clamp(1rem, 8cqi, 10rem);
  color: #1d1d1d;
  font-weight: 900;
  letter-spacing: -0.4cqi;
  line-height: 65%;
  position: absolute;
  bottom:-5px;

}

.header .blurb, .hero-header .blurb {
  max-width: 60%;
  text-align: right;
  font-size: 3.5cqi;
  font-weight: 200;
  line-height: .4cqi;
  position: absolute;
  right: 30px;
  top: 40px;
 }
 
 
 @media screen and (max-width: 700px) {
 
 .header {
  min-height: 13cqi;
  }
 
.header h1, .hero-header h1 {
  bottom: -5px;
  }
}


@media screen and (max-width: 480px) {

.header {
  padding: 1em;
  min-height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  }

.hero-header {
 background-size: 150%;
 min-height: 700px;
 align-items: center;
 justify-content: center;
  flex-direction: column-reverse;
 }


.header h1, .hero-header h1 {
  bottom: -3px;
  font-size: 17cqi;
  width:80%;
  word-wrap: wrap;
  align-self: start;
}
.header .blurb, .hero-header .blurb {
  text-align: center;
  font-size: 7cqi;
  left: auto;
  right: auto;
  top: auto;
  bottom: 35%;
}

}


h2, h3, h4 {
  color: #AF453C;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #BB161F;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 10px;
  z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #F2DBC6;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 350;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  border-bottom: 5px solid #FED801;
}


/* Column container */
.row {  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #1d1d1d;
  color: #F2DBC6;
  padding: 0 10cqi 0 10cqi;
  width: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  
  padding: 20px;
   
}

/* Main column */
.main {   
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  
  padding: 20px;
   
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
  position: relative;
  background-color: #180E0F;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: .75em;
  padding: 2em 1em 2em 1em;
  align-items: center;
  width: 100%;
  }
  
  .card_content {
  font-size: 13px;
  width: 100%;
  padding-left: 1em;
  
  }

  .card_content h2, h4 {
   letter-spacing: .1em;
   margin-left: -.5em;
  }
  
   .card_content h5 {
  padding-bottom: 1em;
  margin-left: -.5em;
  font-weight: 200;
  letter-spacing: .2em;
  }

  .card_image {
  max-height: 200px; 
  width: 100%;
  margin-bottom: 1em;
  }
  
  
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container div{
	margin: .5em;
}

.filterDiv {
   height: 20cqi;
  flex-grow: 1;
  display: none; /* Hidden by default */
}

.filterDiv a{
  opacity: 0.6;
  transition: 0.2s;
}

.filterDiv a:hover {
	opacity: 1;
}
  
.filterDiv:last-child {
  flex-grow: 10;
}

.filterDiv img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
  
  
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
  

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #1D1D1D;
  color: #F2DBC6;
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  float: center;
  border: 1px solid transparent;
  border-bottom: 5px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 3px 50px 3px;
  margin: 0px 20px;
  transition: 0.2s;
  font-variant: small-caps;
  font-size: clamp(1rem, 1.5cqi, 1.5rem);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: lowercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border: 1px solid #FED801;
  border-bottom: 5px solid #FED801;
  color: #FED801;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FED801;
  color: #1D1D1D;
  border-bottom: 5px solid #FED801;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px 15px;
  border-top: none;
  text-align: center;
}

.container div {
   margin: 15px 0px;
   padding: 0px;
   text-align: center;
 }

button.btn {
  padding: 8px 30px;
  justify-self: center;
  margin: 0px;
  color: #F2DBC6;
  background-color: transparent;
  border-bottom: 3px solid #1D1D1D;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: lowercase;
  transition: 0.25s;
}

button.btn:hover {
  background-color: transparent;
  color: #F2DBC6;
  border-bottom: 3px solid #FED801;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #1D1D1D;
}

@media screen and (max-width: 1024px) {
  .side {
     -ms-flex: 40%; /* IE10 */
    flex: 40%;
    }
  .main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    }
}

@media screen and (max-width: 1440px) {
  .side {
     -ms-flex: 30%; /* IE10 */
    flex: 30%;
    }
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }  
}
  

</style>

<script>

filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("gg");
    current[0].className = current[0].className.replace(" gg", "");
    this.className += " gg";
  });
}
</script>

</head>

<body>

<div class="hero-header">
	<h1>WHISKEYTEETH</h1>
  	<div class="blurb">
  		<p style="font-variant: small-caps;">a collection of</P>
  		<p style="font-weight: 900;">FANWORKS同人</P>
		<p><a href="https://cindyliuconcepts.com/" id="blink">&nbsp;&nbsp;❰❰&nbsp;return to portfolio&nbsp;&nbsp;</a></p>
  	</div>
</div>

<div class="navbar">
  <a href="#news">news</a>
  <a href="#gallery">gallery</a>
  <a href="#shop">shop</a>
  <a href="#links">links</a>
  <a href="#" class="right">x</a>
  <a href="#" class="right">x</a>
</div>

<div class="header">
<a name="news">.</a>
	<h1>NEWS</h1>
</div> 

<div class="row"> 
  <div class="card">
  	<div class="card_content">
    	<h2>ANNOUNCEMENTS</h2>
    	<h5>xx/xx/xxxx - Site launched!</h5>
    
	    <p>Been a while since I've built a site from scratch, so much new stuff that css can do. I may write a blog post how I made this as none webdev person. </p>
    	<p>Gotta make a blog first...</p>
    </div>
  </div>
  
  <div class="card">
    <div class="card_content">
    	<h2>LATEST ART</h2>
    	<h5>xx/xx/xxxx</h5>
    		
    	<p>Some text..</p>
    	<p>wizaaards</p>
    </div>
  </div>
 </div>
</div>

<div class="row">
  <div class="card">
    <div class="flex-container card_content">
      <div style="align-self:center;"><img src="https://cindyliuconcepts.com/bio.png" style="border-radius: 50%">
      </div>
      <div><h4>About me</h4>
    		<p>Game dev by day, sweaty weeb by night. Professional work can be found here, I am most active on Twitter.</p>
            <h4>Current Fandoms and Ships</h4>
   			<p>MHA, One Piece, Golden Kamuy, Yakuza, Resident Evil</p>

			<p>Main ships: Kacchako, Aeon, Crocbug?</p>
  			<h4>Published Zine Projects</h4>
            <p>Kacchako-</p>
    		<ul style="list-style-type: square; list-style-position: inside;">
              <li>All Roads Lead to You</li>
  			  <li>Kacchako Advent 2023</li>
			</ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="card" id="end">  
  		<h2><div>Commission Status:</div><div style="color: #1d1d1d; background: #AF453C;"> CLOSED</div></h2>
    </div>
</div>

<div class="header">
	<a name="gallery">.</a>
	<h1>GALLERY</h1>
</div>    
<div class="row" style="justify-content: center;">
	<div style="width: 100%;">
<script is:inline>

// Wrap everything in DOMContentLoaded to ensure DOM is ready
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize gallery filters
    filterSelection("all");
    
    // Initialize tabs - click the first tab
    const defaultOpen = document.getElementById("defaultOpen");
    if (defaultOpen) {
      openCity({ currentTarget: defaultOpen }, "MHA");
    }
    
    // Add click handlers to filter buttons
    const btnContainer = document.getElementById("myBtnContainer");
    if (btnContainer) {
      const btns = btnContainer.getElementsByClassName("btn");
      for (let i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          const current = document.getElementsByClassName("gg");
          if (current.length > 0) {
            current[0].className = current[0].className.replace(" gg", "");
          }
          this.className += " gg";
        });
      }
    }
  });

  function filterSelection(c) {
    const x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (let i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  function w3AddClass(element, name) {
    let arr1 = element.className.split(" ");
    const arr2 = name.split(" ");
    for (let i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  function w3RemoveClass(element, name) {
    let arr1 = element.className.split(" ");
    const arr2 = name.split(" ");
    for (let i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  function openCity(evt, cityName) {
    const tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    const tablinks = document.getElementsByClassName("tablinks");
    for (let i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    const element = document.getElementById(cityName);
    if (element) {
      element.style.display = "block";
    }
    if (evt.currentTarget) {
      evt.currentTarget.className += " active";
    }
  }


</script>
	<div class="tab">
  		<button class="tablinks" onclick="window.openCity(event, 'MHA')" id="defaultOpen">MHA</button>
  		<button class="tablinks" onclick="window.openCity(event, 'Resi')">Resident Evil</button>
  		<button class="tablinks" onclick="window.openCity(event, 'misc')">Misc</button>
	</div>

	<div class="card" style="border-top: 5px solid #FED801; margin: 0px 0px 15px 0px;">
		<div id="MHA" class="tabcontent">
  			<div><h3>My Hero Acadmemia</h3></div>
	  		<div id="myBtnContainer" class="btnContainer container" style="justify-content: center;">
	  			<div><button class="btn gg" onclick="filterSelection('all')">Show All</button></div>
	  			<div><button class="btn" onclick="filterSelection('kacchako')">kacchako</button></div>
	  			<div><button class="btn" onclick="filterSelection('othership')">other ships</button></div>
	  			<div><button class="btn" onclick="filterSelection('halloween')">halloween</button></div>
	  			<div><button class="btn" onclick="filterSelection('wip')">wip</button></div>
			</div>
			<div class="flex-container">


        		<div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/GKxCqe5b0AAEgoa.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/GKxCqe5b0AAEgoa.jpg" alt="Wizarding Brawl">
	    			</a>
  				</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/Fxa4jrSaIAAfxRB.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/Fxa4jrSaIAAfxRB.jpg" alt="Touch">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FghwicYUYAIm8t1-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FghwicYUYAIm8t1-protected-intensity-LOW-V2.jpg" alt="Of Vampires and Priests">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/Fv1-rZ3aAAA0Nxi.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/Fv1-rZ3aAAA0Nxi.jpg" alt="Mermay">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FuSMiyraQAIf26m-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FuSMiyraQAIf26m-protected-intensity-LOW-V2.jpg" alt="Birthday Gift">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FLZi68PUUAAWyBP-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FLZi68PUUAAWyBP-protected-intensity-LOW-V2.jpg" alt="Dance with the Goblin King">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako othership">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FNypNJ5UcAAgBAg-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FNypNJ5UcAAgBAg-protected-intensity-LOW-V2.jpg" alt="...jealous?">
	    			</a>
	  			</div>
	            <div class="filterDiv othership wip">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FPQ1ESqVUAQJRg3-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FPQ1ESqVUAQJRg3-protected-intensity-LOW-V2.jpg" alt="Red Carpet WIP">
	    			</a>
	  			</div>   
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FF4A_a-UYAs29-J-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FF4A_a-UYAs29-J-protected-intensity-LOW-V2.jpg" alt="First Kiss">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FFz0zkmVgAAWdYp-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FFz0zkmVgAAWdYp-protected-intensity-LOW-V2.jpg" alt="Holiday Star">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FHhGDBYX0AExuas-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FHhGDBYX0AExuas-protected-intensity-LOW-V2.jpg" alt="Winter Onsen">
	    			</a>
	  			</div>
	            <div class="filterDiv wip">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FN48N6TVcAAB49G-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FN48N6TVcAAB49G-protected-intensity-LOW-V2.jpg" alt="Casual Shinso">
	    			</a>
	  			</div>
	  			<div class="filterDiv kacchako">
		    		<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/E-raniEUcAQxx1r-protected-intensity-LOW-V2.jpg">
		      		<img src="https://www.cindyliuconcepts.com/fan/mha/E-raniEUcAQxx1r-protected-intensity-LOW-V2.jpg" alt="Burn Cream">
		    		</a>
	  			</div>
	            <div class="filterDiv kacchako wip">
		    		<a target="https://www.cindyliuconcepts.com/fan/mha/E-Kb8D9UcAQ_M-M-protected-intensity-LOW-V2.jpg">
		      		<img src="https://www.cindyliuconcepts.com/fan/mha/E-Kb8D9UcAQ_M-M-protected-intensity-LOW-V2.jpg" alt="">
		    		</a>
	  			</div>
	  			<div class="filterDiv">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/E3-ILt8UYAI5f92-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/E3-ILt8UYAI5f92-protected-intensity-LOW-V2.jpg" alt="Bleeding Heart">
	    			</a>
	   			</div>
	  			<div class="filterDiv othership">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/F69Z4Fba4AAOrAU-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/F69Z4Fba4AAOrAU-protected-intensity-LOW-V2.jpg" alt="Outfit Swap!">
	    			</a>
	  			</div>
	            <div class="filterDiv halloween">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FCTLiduUcAIt_lm-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FCTLiduUcAIt_lm-protected-intensity-LOW-V2.jpg" alt="Halloween series: Camera Quirk">
	    			</a>
	  			</div>
	            <div class="filterDiv halloween">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FL8df6VVUAACt9y-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FL8df6VVUAACt9y-protected-intensity-LOW-V2.jpg" alt="Halloween Series: Octopus Quirk">
	    			</a>
	  			</div>
	            <div class="filterDiv halloween">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FCnBTaRUYAgF63Y-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FCnBTaRUYAgF63Y-protected-intensity-LOW-V2.jpg" alt="Halloween series: Lizard Quirk">
	    			</a>
	  			</div>
	            <div class="filterDiv halloween">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FCtINEsVEAgmsDJ-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FCtINEsVEAgmsDJ-protected-intensity-LOW-V2.jpg" alt="Halloween series: Telescope Quirk">
	    			</a>
	  			</div>
	             <div class="filterDiv kacchako">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FD_ZMinUcAAiiL_-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FD_ZMinUcAAiiL_-protected-intensity-LOW-V2.jpg" alt="Pocky Game">
	    			</a>
	  			</div>
	            <div class="filterDiv">
	    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/FF0QwOsVcAAhGuI-protected-intensity-LOW-V2.jpg">
	      			<img src="https://www.cindyliuconcepts.com/fan/mha/FF0QwOsVcAAhGuI-protected-intensity-LOW-V2.jpg" alt="back sketch">
	    			</a>
	  			</div>
	            <div class="filterDiv kacchako">
		    		<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/E-g247UVkAQH50n-protected-intensity-LOW-V2.jpg">
		      		<img src="https://www.cindyliuconcepts.com/fan/mha/E-g247UVkAQH50n-protected-intensity-LOW-V2.jpg" alt="Taking from the Lion's Share">
		    		</a>
	 	 		</div>
	            <div class="filterDiv kacchako wip">
		    		<a target="_blank" href="https://www.cindyliuconcepts.com/fan/mha/E8G9SbtVEAIEsJs-protected-intensity-LOW-V2.jpg">
		      		<img src="https://www.cindyliuconcepts.com/fan/mha/E8G9SbtVEAIEsJs-protected-intensity-LOW-V2.jpg" alt="">
		    		</a>
	 	 		</div>


			</div>
		</div>

		<div id="Resi" class="tabcontent">
  		<div><h3>Resident Evil</h3></div>
  		<div id="myBtnContainer" class="btnContainer container" style="justify-content: center;">
  			<div><button class="btn gg" onclick="filterSelection('all')">Show All</button></div>
  			<div><button class="btn" onclick="filterSelection('aeon')">aeon</button></div>
  			<div><button class="btn" onclick="filterSelection('othership')">other ships</button></div>
            <div><button class="btn" onclick="filterSelection('fun')">funsies</button></div>
  			<div><button class="btn" onclick="filterSelection('wip')">wip</button></div>
		</div>
   		<div class="flex-container"> 
        
        
        	
            
            <div class="filterDiv aeon">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/FHmTyU-XoAEJms5.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/FHmTyU-XoAEJms5.jpg" alt="Stay...just a little bit more.">
    			</a>
  			</div>
            
            <div class="filterDiv ">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E3lTnA0UUAE86Xq.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E3lTnA0UUAE86Xq.jpg" alt="Ada">
    			</a>
  			</div>
            
            <div class="filterDiv othership fun">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/FBDpjLYVkAIeYd6.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/FBDpjLYVkAIeYd6.jpg" alt="It's raining and there is no umbrella.">
    			</a>
  			</div>
            
            <div class="filterDiv wip">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/FvJFUITaQAEXrak.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/FvJFUITaQAEXrak.jpg" alt="sketch">
    			</a>
  			</div>
            
            <div class="filterDiv aeon">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E7oOor5VUAks7nO.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E7oOor5VUAks7nO.jpg" alt="This doesn't suit you.">
    			</a>
  			</div>
            
            <div class="filterDiv othership">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E7AIf7sVEAIzSB3.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E7AIf7sVEAIzSB3.jpg" alt="Leon...">
    			</a>
  			</div>
            
            <div class="filterDiv othership wip">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E8i9Nc-UUAEsDs_.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E8i9Nc-UUAEsDs_.jpg" alt="spicy sketch">
    			</a>
  			</div>
            
            <div class="filterDiv fun">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E5LGLaLVcAA1KH_.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E5LGLaLVcAA1KH_.jpg" alt="EGG">
    			</a>
  			</div>
            
            <div class="filterDiv fun">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E4jWMeGVcAkbxZu.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E4jWMeGVcAkbxZu.jpg" alt="Shirt Meme of 2018">
    			</a>
  			</div>
            
            <div class="filterDiv aeon fun">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E3jWiMRUUAAPvPV.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E3jWiMRUUAAPvPV.jpg" alt="RE4">
    			</a>
  			</div>
            
            <div class="filterDiv fun othership">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/re/E3jTqFRVkAABXEL.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/re/E3jTqFRVkAABXEL.jpg" alt="Its. LUIS.">
    			</a>
  			</div>
            
            
        </div>
	</div>



	<div id="misc" class="tabcontent">
  		<div><h3>Misc</h3></div>
  		<div id="myBtnContainer" class="btnContainer container" style="justify-content: center;">
  			<div><button class="btn gg" onclick="filterSelection('all')">Show All</button></div>
  			<div><button class="btn" onclick="filterSelection('anime')">anime</button></div>
  			<div><button class="btn" onclick="filterSelection('game')">game</button></div>
  			
		</div>
   		<div class="flex-container"> 
        
        
        	<div class="filterDiv anime">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/E-1ozMuVIAAQW-T.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/E-1ozMuVIAAQW-T.jpg" alt="Lost in Chaos">
    			</a>
  			</div>
            
            <div class="filterDiv anime">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/E_44Y6sUUAE8nY-.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/E_44Y6sUUAE8nY-.jpg" alt="Hey Shin!">
    			</a>
  			</div>
            
            <div class="filterDiv anime">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/F6taKS6bYAAOI-u.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/F6taKS6bYAAOI-u.jpg" alt="Make it FLASHY">
    			</a>
  			</div>
            
            <div class="filterDiv game">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/FEEW8DDUYAUKwU3.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/FEEW8DDUYAUKwU3.jpg" alt="Hey, Sweetcheeks!">
    			</a>
  			</div>         
            
            <div class="filterDiv anime">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/F6bzKbhbQAApYIX.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/F6bzKbhbQAApYIX.jpg" alt="eepy">
    			</a>
  			</div>
            
            <div class="filterDiv ">
    			<a target="_blank" href="https://www.cindyliuconcepts.com/fan/E30zPDHVgAEFIZa.jpg">
      			<img src="https://www.cindyliuconcepts.com/fan/E30zPDHVgAEFIZa.jpg" alt="waiting room">
    			</a>
  			</div>
            
            
        </div>
	</div>
	</div>
</div>

</div>
<div class="row">
<div style="width: 100%; height: 200px;">
<p align="center"><a id="top" href="#gallery">choose another fandom</a></p></div>
</div>
</div>

<div class="header">
<a name="shop">.</a>
	<h1>SHOP</h1>
</div> 

<div class="row">
	<div class="card">
    coming soon!
    </div>
    <div class="card">
    coming soon!
    </div>
</div>
<div class="row">
	<div class="card">
    coming soon!
    </div>
    <div class="card">
    coming soon!
    </div>
</div>
<div class="row">
	<div class="card" id="end">
    coming soon!
    </div>
</div>

<div class="header">
<a name="links">.</a>
	<h1>LINKS</h1>
</div> 

<div class="row">
	<div class="card">
    coming soon!
    </div>
</div>
<div class="row">
	<div class="card" id="end">
    coming soon!
    </div>
</div>

<div class="footer" style="height: 400px;">
  <h2>Footer</h2>
</div>

</body>
</html>
