---
import BaseHead from '../components/BaseHead.astro';


import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #E98B77;
   background: -moz-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: -webkit-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: linear-gradient(to bottom, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  text-shadow: 3px 3px 0px #00b685, 5px 5px 0px #00b685;
}

h2, h3 {
  color: #00b685;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #e98b77;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: #e98b77;
}

/* Active/current link */
.navbar a.active {
  background-color: #37383f;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #F8EDED;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>WHISKEYTEETH</h1>
  <p>A <b>pseudonym</b> for my fan works.</p>
</div>

<div class="navbar">
  <a href="#" class="active">news</a>
  <a href="#">fanart</a>
  <a href="#">fancomics</a>
  <a href="#">store</a>
  <a href="#">links</a>
  <a href="#" class="right">x</a>
  <a href="#" class="right">x</a>
</div>

<div class="row">
  <div class="side">
    <p> I was from the batch of artist that was told fanart and anime style works are bad. I ran into burnout and so far this kind of silly work was what I need to enjoy drawing again.</p>

	<p>Draw what makes you happy. 🖤</p>
    <h3>Current Fandoms and Ships</h3>
    <p>
MHA, One Piece, Golden Kamuy, Yakuza, Resident Evil</p>

<p>Main ships: Kacchako, Aeon, Crocbug?</p>
  <h3>Published Zine Projects
Kacchako-</h3>
    <p>All Roads Lead to You</p>

  <p>Kacchako Advent 2023</p>

<h3>About me + Commission info-</h3>
    <p>Game dev by day, sweaty weeb by night. Professional work can be found here, I am most active on Twitter.</p>

  <p>Commission Status: CLOSED</p>
  </div>
  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
<div align="center">
	<h2>gallery</h2>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    </div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
