---
import BaseHead from '../components/BaseHead.astro';


import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

<style>
* {
  box-sizing: border-box;
}

/* Header/logo Title */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  text-align: center;
  background: #E98B77;
   background: -moz-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: -webkit-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: linear-gradient(to bottom, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
  color: white;
  font-size: 12px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 0px #00b685, 5px 5px 0px #00b685;
}

h2, h3, h4 {
  color: #00b685;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #E98B77;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: #e98b77;
}

/* Active/current link */
.navbar a.active {
  background-color: #534a4a;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: white;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
  position: relative;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .card_content {
  padding: 2rem;
  font-size: 13px;
  
  }

  .card_content h4 {
  margin-left: -1rem;
  padding-top: .5rem;
  
  }

  .card_image {
  max-height: 250px; 
  align-self: center;
  }





/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }  
 
}
</style>

</head>

<body>

<div class="header">
  <h1>WHISKEYTEETH</h1>
  <div style="max-width: 500px;"><p>A <b>pseudonym</b> for my fan works. I was from the batch of artist that was told fanart and anime style works are bad. I ran into burnout and so far this kind of silly work was what I need to enjoy drawing again.</p>
  <p>Draw what makes you happy. 🖤</p>
  </div>
</div>

<div class="navbar">
  <a href="#" class="active">news</a>
  <a href="#gallery">gallery</a>
  <a href="#">store</a>
  <a href="#">links</a>
  <a href="#" class="right">x</a>
  <a href="#" class="right">x</a>
</div>

<div class="row">
  <div class="side">
  	<div class="card">
        <div class="card_image"><img src="https://cindyliuconcepts.com/bio.png" style="border-radius: 50%"></div>
        <div class="card_content">
        	<h4>About me</h4>
    		<p>Game dev by day, sweaty weeb by night. Professional work can be found here, I am most active on Twitter.</p>
            <h4>Current Fandoms and Ships</h4>
   			<p>MHA, One Piece, Golden Kamuy, Yakuza, Resident Evil</p>

			<p>Main ships: Kacchako, Aeon, Crocbug?</p>
  			<h4>Published Zine Projects</h4>
            <p>Kacchako-</p>
    		<ul>
              <li>All Roads Lead to You</li>
  			  <li>Kacchako Advent 2023</li>
			</ul>
			<p></p>
  			<h4>Commission Status: CLOSED</h4>
        </div>
 	 </div>
  </div>   
  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
<div align="center">
	<h2><a name="gallery"></a>GALLERY</h2>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    <div class="fakeimg" style="height:200px;">Image</div><br>
    </div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
