---
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cindyliuconcepts.com/_astro/_slug_.fEoeRqC0.css">
<style>
* {
  box-sizing: border-box;
}

/* Header/logo Title */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  background: #E98B77;
   background: -moz-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: -webkit-linear-gradient(top, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
	background: linear-gradient(to bottom, #E98B77 0%, #E98B77 75%, #FF9F88 100%);
  color: white;
  font-size: 12px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 0px #00b685, 5px 5px 0px #00b685;
  margin: 30px;
}

h2, h3, h4 {
  color: #00b685;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #E98B77;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: #e98b77;
}

/* Active/current link */
.navbar a.active {
  background-color: #534a4a;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: white;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
  position: relative;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .card_content {
  padding: 2rem;
  font-size: 13px;
  
  }

  .card_content h4 {
  margin-left: -1rem;
  padding-top: .5rem;
  
  }

  .card_image {
  max-height: 250px; 
  align-self: center;
  }
  
  
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filterDiv {
  float: left;
  width: 250px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}
  
  
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
  

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #E98B77;
  color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
  color: #E98B77;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #534a4a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px 15px;
  border-top: none;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 1024px) {
  .side {
     -ms-flex: 40%; /* IE10 */
    flex: 40%;
    }
  .main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    }
}

@media screen and (max-width: 1440px) {
  .side {
     -ms-flex: 30%; /* IE10 */
    flex: 30%;
    }
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }  
}
  

</style>


</head>

<body>

<div class="header">
  <h1>WHISKEYTEETH</h1>
  <div style="max-width: 500px;"><p>A <b>pseudonym</b> for my fan works. I was from the batch of artist that was told fanart and anime style works are bad. I ran into burnout and so far this kind of silly work was what I need to enjoy drawing again.</p>
  <p>Draw what makes you happy. 🖤</p>
  </div>
</div>

<div class="navbar">
  <a href="#" class="active">news</a>
  <a href="#gallery">gallery</a>
  <a href="#">store</a>
  <a href="#">links</a>
  <a href="#" class="right">x</a>
  <a href="#" class="right">x</a>
</div>

<div class="row">
  <div class="side">
  	<div class="card">
        <div class="card_image"><img src="https://cindyliuconcepts.com/bio.png" style="border-radius: 50%"></div>
        <div class="card_content">
        	<h4>About me</h4>
    		<p>Game dev by day, sweaty weeb by night. Professional work can be found here, I am most active on Twitter.</p>
            <h4>Current Fandoms and Ships</h4>
   			<p>MHA, One Piece, Golden Kamuy, Yakuza, Resident Evil</p>

			<p>Main ships: Kacchako, Aeon, Crocbug?</p>
  			<h4>Published Zine Projects</h4>
            <p>Kacchako-</p>
    		<ul style="list-style-type: square; list-style-position: inside;">
              <li>All Roads Lead to You</li>
  			  <li>Kacchako Advent 2023</li>
			</ul>
			<p></p>
  			<h4>Commission Status: CLOSED</h4>
        </div>
 	 </div>
  </div>   
  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>


<div align="center"><a name="gallery"></a>
<div class="header">
	<h1>GALLERY</h1>
</div>    


<div class="tab">
  <button class="tablinks" onclick="window.openCity(event, 'MHA')" id="defaultOpen">MHA</button>
  <button class="tablinks" onclick="window.openCity(event, 'Resi')">Resident Evil</button>
  <button class="tablinks" onclick="openCity(event, 'misc')">Misc</button>
</div>

<div id="MHA" class="tabcontent">
  <h3>My Hero Acadmemia</h3>
  <div id="myBtnContainer" class="btnContainer container" style="justify-content: center;">
  <div><button class="btn gg" onclick="window.filterSelection('all')">Show All</button></div>
  <div><button class="btn" onclick="window.filterSelection('enviro')">temp</button></div>
  <div><button class="btn" onclick="window.filterSelection('char')">temp</button></div>
  <div><button class="btn" onclick="window.filterSelection('creature')">temp</button></div>
  <div><button class="btn" onclick="window.filterSelection('visdev')">tempv</button></div>
</div>
     <div class="flex-container">
  		<div class="filterDiv creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" style="object-position: 20% 100%;" alt="Bog Chicken">
    </a>
  </div>

  <div class="filterDiv enviro char">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Pathless Digital OST">
    </a>
  </div>

  <div class="filterDiv char creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Napolean Dolphin Poster">
    </a>
  </div>

  <div class="filterDiv enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Grotto">
    </a>
   </div>

 <div class="filterDiv enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Woodsman Home">
    </a>
  </div>

  <div class="filterDiv enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpgg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Logging Grounds">
    </a>
  </div>
</div>
</div>

<div id="Resi" class="tabcontent">
  <h3>Resident Evil</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="misc" class="tabcontent">
  <h3>Misc</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
 // Wrap everything in DOMContentLoaded to ensure DOM is ready
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize gallery filters
    filterSelection("all");
    
    // Initialize tabs - click the first tab
    const defaultOpen = document.getElementById("defaultOpen");
    if (defaultOpen) {
      openCity({ currentTarget: defaultOpen }, "MHA");
    }
    
    // Add click handlers to filter buttons
    const btnContainer = document.getElementById("myBtnContainer");
    if (btnContainer) {
      const btns = btnContainer.getElementsByClassName("btn");
      for (let i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          const current = document.getElementsByClassName("gg");
          if (current.length > 0) {
            current[0].className = current[0].className.replace(" gg", "");
          }
          this.className += " gg";
        });
      }
    }
  });

  function window.filterSelection(c) {
    const x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (let i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  function w3AddClass(element, name) {
    let arr1 = element.className.split(" ");
    const arr2 = name.split(" ");
    for (let i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  function w3RemoveClass(element, name) {
    let arr1 = element.className.split(" ");
    const arr2 = name.split(" ");
    for (let i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  function window.openCity(evt, cityName) {
    const tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    const tablinks = document.getElementsByClassName("tablinks");
    for (let i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    const element = document.getElementById(cityName);
    if (element) {
      element.style.display = "block";
    }
    if (evt.currentTarget) {
      evt.currentTarget.className += " active";
    }
  }
</script>


</div>
<div style="width: 100%; height: 200px;">
<p align="center"><a href="#gallery">back to top</a></p></div>
<div class="footer" style="height: 400px;">
  <h2>Footer</h2>
</div>

</body>
</html>
