---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	

<style>


</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Initial load - show all items
  filterSelection("all");
  
  function filterSelection(c) {
    var x = document.getElementsByClassName("gallery-item");
    if (c == "all") c = "";
    
    for (var i = 0; i < x.length; i++) {
      if (c == "" || x[i].className.indexOf(c) > -1) {
        x[i].classList.add("show");
      } else {
        x[i].classList.remove("show");
      }
    }
  }

  // Add click event listeners to buttons
  var btns = document.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      // Remove active class from all buttons
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].classList.remove("active");
      }
      // Add active class to clicked button
      this.classList.add("active");
      
      // Get filter value from onclick attribute
      var onclickAttr = this.getAttribute("onclick");
      var filterValue = onclickAttr.match(/'([^']*)'/)[1];
      filterSelection(filterValue);
    });
  }
});
</script>

</head>
<body>
<Header />
<main>

<h3><p align="center">WORK IN PROGRESS</p></h3>

<div id="myBtnContainer" class="btnContainer container">
  <div><button class="btn active" onclick="filterSelection('all')">Show All</button></div>
  <div><button class="btn" onclick="filterSelection('enviro')">temp</button></div>
  <div><button class="btn" onclick="filterSelection('char')">temp</button></div>
  <div><button class="btn" onclick="filterSelection('creature')">temp</button></div>
  <div><button class="btn" onclick="filterSelection('visdev')">tempv</button></div>
</div>
<p></p>
<div class="gallery-container">

  <div class="gallery-item creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" style="object-position: 20% 100%;" alt="Bog Chicken">
    </a>
  </div>

  <div class="gallery-item enviro char">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Pathless Digital OST">
    </a>
  </div>

  <div class="gallery-item char creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Napolean Dolphin Poster">
    </a>
  </div>

  <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Grotto">
    </a>
   </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Woodsman Home">
    </a>
  </div>

  <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpgg">
      <img src="https://www.cindyliuconcepts.com/E-3V_ZmVUAU8gz9-protected-intensity-LOW-V2.jpg" alt="Logging Grounds">
    </a>
  </div>


</div>

</main>
		<Footer />
	</body>
</html>
