---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	

<style>


</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Initial load - show all items
  filterSelection("all");
  
  function filterSelection(c) {
    var x = document.getElementsByClassName("gallery-item");
    if (c == "all") c = "";
    
    for (var i = 0; i < x.length; i++) {
      if (c == "" || x[i].className.indexOf(c) > -1) {
        x[i].classList.add("show");
      } else {
        x[i].classList.remove("show");
      }
    }
  }

  // Add click event listeners to buttons
  var btns = document.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      // Remove active class from all buttons
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].classList.remove("active");
      }
      // Add active class to clicked button
      this.classList.add("active");
      
      // Get filter value from onclick attribute
      var onclickAttr = this.getAttribute("onclick");
      var filterValue = onclickAttr.match(/'([^']*)'/)[1];
      filterSelection(filterValue);
    });
  }
});
</script>

</head>
<body>
<Header />
<main>

<div id="myBtnContainer" class="btnContainer container">
  <div><button class="btn active" onclick="filterSelection('all')">Show All</button></div>
  <div><button class="btn" onclick="filterSelection('enviro')">Environment</button></div>
  <div><button class="btn" onclick="filterSelection('char')">Character</button></div>
  <div><button class="btn" onclick="filterSelection('creature')">Creature</button></div>
  <div><button class="btn" onclick="filterSelection('visdev')"> Vis Dev</button></div>
</div>
<p></p>
<div class="gallery-container">

  <div class="gallery-item creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/image-asset-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/image-asset-protected-intensity-LOW-V2.png" style="object-position: 20% 100%;" alt="Bog Chicken">
    </a>
  </div>

  <div class="gallery-item enviro char">
    <a target="_blank" href="https://www.cindyliuconcepts.com/thePathessDigAlbum_fin-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/thePathessDigAlbum_fin-protected-intensity-LOW-V2.png" alt="Pathless Digital OST">
    </a>
  </div>

  <div class="gallery-item char creature">
    <a target="_blank" href="https://www.cindyliuconcepts.com/napolean_poster-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/napolean_poster-protected-intensity-LOW-V2.png" alt="Napolean Dolphin Poster">
    </a>
  </div>

  <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Env_Grotto-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Env_Grotto-protected-intensity-LOW-V2.png" alt="Grotto">
    </a>
   </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Env_Woosdman-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Env_Woosdman-protected-intensity-LOW-V2.png" alt="Woodsman Home">
    </a>
  </div>

  <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Env_LoggingGrounds-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Env_LoggingGrounds-protected-intensity-LOW-V2.png" alt="Logging Grounds">
    </a>
  </div>

  <div class="gallery-item creature enviro">
    <a target="_blank" href="https://www.cindyliuconcepts.com/karkadannil5_o_2000-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/karkadannil5_o_2000-protected-intensity-LOW-V2.png" style="object-position: 35% 100%;" alt="Karkadann">
    </a>
  </div>

  <div class="gallery-item creature char">
    <a target="_blank" href="https://www.cindyliuconcepts.com/tumblr_n1nam7DqB71tuubd4o1_1280_2000-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/tumblr_n1nam7DqB71tuubd4o1_1280_2000-protected-intensity-LOW-V2.png" alt="crow">
    </a>
  </div>

  <div class="gallery-item creature char">
    <a target="_blank" href="https://www.cindyliuconcepts.com/cindy-liu-void-death-1-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/cindy-liu-void-death-1-protected-intensity-LOW-V2.png" alt="Death">
    </a>
  </div>

  <div class="gallery-item visdev enviro">
    <a target="_blank" href="https://www.cindyliuconcepts.com/INDIVISIBLE_CLIU_Ashwat_HutA-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/INDIVISIBLE_CLIU_Ashwat_HutA-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="Ashwat">
    </a>
  </div>

  <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Prop_CursedStatue-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Prop_CursedStatue-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="Cursed Statue">
    </a>
  </div>

   <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Env_Ruins-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Env_Ruins-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="Ruins">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/env_witchesHut-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/env_witchesHut-protected-intensity-LOW-V2.png" alt="Witches Hut">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_archTree2-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_archTree2-protected-intensity-LOW-V2.png" alt="Arch Tree">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/flora_2-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/flora_2-protected-intensity-LOW-V2.png" alt="Flora Breakdown">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_Scribe0-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_Scribe0-protected-intensity-LOW-V2.png" alt="Scribe Tower">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_Workshop4-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_Workshop4-protected-intensity-LOW-V2.png" style="object-position: 70% 100%;" alt="Workshop Concepts">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_Workshop3-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_Workshop3-protected-intensity-LOW-V2.png" style="object-position: 10% 100%;" alt="Workshop Concepts">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_Storehouse-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_Storehouse-protected-intensity-LOW-V2.png" alt="Storehouse Concepts">
    </a>
  </div>

 <div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_infirmary2-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_infirmary2-protected-intensity-LOW-V2.png" alt="Infirmary Concepts">
    </a>
  </div>

<div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/LM_infirmary-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/LM_infirmary-protected-intensity-LOW-V2.png" alt="Infirmary Concepts">
    </a>
  </div>

<div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_Sauro_Ext1-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_Sauro_Ext1-protected-intensity-LOW-V2.png" alt="Sauro Exterior">
    </a>
  </div>

<div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_Sauro_int_5-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_Sauro_int_5-protected-intensity-LOW-V2.png" alt="Sauro Interior">
    </a>
  </div>

<div class="gallery-item enviro visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_Sauro_int_3-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_Sauro_int_3-protected-intensity-LOW-V2.png" alt="Sauro Interior">
    </a>
  </div>

<div class="gallery-item visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_GS_Hit-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_GS_Hit-protected-intensity-LOW-V2.png" alt="Spawn in and Hit Animation Breakdown">
    </a>
  </div>

<div class="gallery-item visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_ENDGAMESB-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_ENDGAMESB-protected-intensity-LOW-V2.png" alt="Cutscene Storyboards">
    </a>
  </div>

<div class="gallery-item visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_Sauro_SBent-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_Sauro_SBent-protected-intensity-LOW-V2.png" alt="Cutscene Storyboards">
    </a>
  </div>

<div class="gallery-item visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/Boss_Sauro_fx_hallwaybreathe-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/Boss_Sauro_fx_hallwaybreathe-protected-intensity-LOW-V2.png" alt="Boss Attack Breakdown">
    </a>
  </div>

<div class="gallery-item char visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/PGA_concepts-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/PGA_concepts-protected-intensity-LOW-V2.png" alt="Player Character Concepts">
    </a>
  </div>

<div class="gallery-item char visdev">
    <a target="_blank" href="https://www.cindyliuconcepts.com/PGA_concepts2-protected-intensity-LOW-V2.png">
      <img src="https://www.cindyliuconcepts.com/PGA_concepts2-protected-intensity-LOW-V2.png" style="object-position: 15% 100%;" alt="NPC Concepts">
    </a>
  </div>


</div>

</main>
		<Footer />
	</body>
</html>
