---
import BaseHead from '../components/BaseHead.astro';

import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	

<style>
.wt-nav {
  overflow: hidden;
  background-color: #333;
}

.wt-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.wt-nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.wt-nav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .wt-nav a:not(.icon):not(:first-child) {
    display: none;
  }
  .wt-nav a.icon {
    float: right;
    display: block;
  }
  .wt-nav.responsive a:not(.icon) {
    display: block;
  }
  .wt-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wt-nav.responsive {position: relative;}
  .wt-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .wt-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .wt-nav.responsive .dropdown {float: none;}
  .wt-nav.responsive .dropdown-content {position: relative;}
  .wt-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

</style>

<script>

function myFunction() {
  var x = document.getElementById("WTnav");
  if (x.className === "wt-nav") {
    x.className += " responsive";
  } else {
    x.className = "wt-nav";
  }
}

</script>


</head>

<body>
<div class="wt-nav" id="WTnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
  <a href="#about">About</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<main>

<h3><p align="center">WORK IN PROGRESS</p></h3>


</main>
		<Footer />
	</body>
</html>
