---
import BaseHead from '../components/BaseHead.astro';

import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	

<style>
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #534a4a;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #e98b77;
  padding: 16px;
  text-transformation: uppercase;
  text-align: right;
}
 
.sidebar a.active {
  background-color: #e98b77;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #fff;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

</style>

<script>

</script>


</head>

<body>

<div class="sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#news">Gallery</a>
  <a href="#contact">Fancomics</a>
  <a href="#about">Store</a>
  <a href="#about">Freebies</a>
  <a href="#about">Links</a>
<br>
  <a href="/">Back to Portfolio</a>
</div>

<main>

<h3><p align="center">WORK IN PROGRESS</p></h3>


</main>
		<Footer />
	</body>
</html>
