---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/"><img src="https://www.cindyliuconcepts.com/logo.webp" width="200px" height="90px"></a></h2>
		<div class="internal-links">
			<center>
			<HeaderLink href="/">portfolio</HeaderLink>
			<HeaderLink href="/galleryTest">galleryTest</HeaderLink>
			<HeaderLink href="/blog">personal work</HeaderLink>
			<HeaderLink href="/about">about me</HeaderLink>
			</center>
		</div>
		<div class="social-links">
			<a href="https://bsky.app/profile/cindyliuart.bsky.social" target="_blank">
				<span class="sr-only">Follow Me on BSKY</span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" class="social-blsky">
  					<path d="M 3.66444 1.18881C 5.4598320000000005 2.5366769999999996 7.39098 5.26959 8.1 6.73623c 0.709074 -1.466532 2.640114 -4.19958 4.43556 -5.54742C 13.831019999999999 0.21624300000000002 15.93 -0.5362739999999999 15.93 1.8582750000000001c 0 0.478224 -0.27418499999999996 4.017329999999999 -0.434997 4.591889999999999c -0.558981 1.9975679999999998 -2.595888 2.507058 -4.40775 2.198691c 3.1671 0.539028 3.9727799999999998 2.324484 2.232819 4.10994c -3.30453 3.39093 -4.74957 -0.8507969999999999 -5.12001 -1.9376820000000001c -0.067878 -0.19926 -0.09963 -0.292464 -0.10011600000000001 -0.213192c -0.00045900000000000004 -0.079272 -0.032211000000000004 0.013932 -0.100089 0.213192c -0.370278 1.086885 -1.815291 5.328720000000001 -5.12001 1.9376820000000001c -1.739988 -1.785456 -0.9343349999999999 -3.57102 2.232819 -4.10994c -1.811916 0.308367 -3.84885 -0.20115 -4.40775 -2.198691C 0.5440499999999999 5.875551 0.269919 2.336445 0.269919 1.8582750000000001c 0 -2.394549 2.099034 -1.6420320000000002 3.39444 -0.6694650000000001Z" 
							fill="currentColor"></path>
</svg>
			</a>
			<a href="https://twitter.com/cindyliuart" target="_blank">
				<span class="sr-only">Follow Me on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
			
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h6 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
